body {
    background-color: #303044;
}

.remove-tag {
    text-decoration: none;
    cursor: pointer;
}

.tag-link {
    text-decoration: none;
}

.svg-inline--fa {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.player {
    background-color: #2596be;
}

.clickable {
    cursor: pointer;
}