baseDomain: {{ base_domain }}
image:
  repository: {{ image }}

mongodb:
  password: {{ api_mongodb_password }}
  auth:
    rootPassword: {{ mongodb_root_password }}
    passwords:
    - {{ api_mongodb_password }}